<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hero App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/style.css">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <style>

        body { 
            padding-top:15px; 
            background-color: #ccc;
        }

        img { 
            width: 100%;
        }

        .navbar {
            background: black !important;
            border: none !important;
        }

        .navbar-nav  li a:hover {
            color: white !important;
        }

        .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand {
            color: white !important;
        }

        .panel-danger {
            margin: 200px 0;
        }
        
    </style>
    
    <% include partials/head.ejs %>
 
</head>
<body>

    <% include partials/menu.ejs %>



    <div class="container">

        <div class="panel panel-danger">

            <div class="text-center text-white bg-dark">
                <h1>Posts Archive</h1>
            </div>

            <div class="panel-body" id="all">

            
                <% pokemon.pokemon.forEach(function(poke){ %>

                    <a href="/view/<%-poke.id %>">

                        <div class="col-xs-6 col-md-2">

                            <div class="panel panel-default">

                                <div class="panel-body">

                                    <%-poke.name %>

                                    <img src="<%-poke.image %>">

                                </div>

                                <div class="panel-footer">

                                    <a href="/view/<%-poke.id %>"><button type="button" class="btn">Read More</button></a>

                                </div>
                            </div>
                        </div> 
                    </a>
                <% }); %>   
            </div>

        </div>

    </div>

     

<!-- <script src="js/ejs.min.js"></script> -->
<!-- <script>

  //the url we are making a request to
  var url = "http://localhost:8000/pokemon";

  $.ajax({
      url: url,
      method: 'get',
      success: function(data){
          //do something when call is successful
          // console.log(data);
          let pokemon = data;
          
          // With jQuery:
        //   $('#all').html(html);
          // Vanilla JS:
          var html= document.getElementById('all').innerHTML;
      }, 
      error: function(error){
          console.log(error);
      }
  });

</script>

<script>

  //targeting my container
  var box = document.getElementById('all');

  //the url we are making a request to
  var url = "http://localhost:8000/pokemon";

  $.ajax({
      url: url,
      method: 'get',
      success: function(data){
        //   do something when call is successful
          console.log(data);

          $.each(data, function(index, value){

              var container = document.createElement('div');
              container.className = 'col-md-2 col-md-4';

              var panel = document.createElement('div');
              panel.className = 'panel panel-default';

              var body = document.createElement('div');
              body.className = "panel-body";

              var footer = document.createElement('div');
              footer.className = 'panel-footer';

              var image = document.createElement('IMG');
              image.setAttribute('src', value.image);

              var name = document.createTextNode(value.name);
              var description = document.createTextNode(value.description);

              body.appendChild(name);
              
              footer.appendChild(description);
              body.appendChild(image);
              panel.appendChild(body);
              panel.appendChild(footer);
              container.appendChild(panel);

              box.appendChild(container);
              
          });

      }, 
      error: function(error){
          console.log(error);
      }
  });
</script>

    <a href="/view">
        <div class="col-xs-6 col-md-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="">
                </div>
                <div class="panel-footer">
                    
                </div>
            </div>
        </div>
    </a> -->

</body>
<% include partials/script %>
</html>