<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hero App | New</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/style.css">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Denk+One|Roboto" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    

    <!-- include libraries(jQuery, bootstrap) -->

    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> 
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script> 

    <!-- Summernote css and js -->

    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.js"></script>
    
    <% include partials/head.ejs %>

    <style>

        body {
            padding: 200px 0;
        }

        h1, label {
            color: white;
        }

        .navbar {
            background: black !important;
            border: none !important;
        }

        .navbar-nav  li a:hover {
            color: white !important;
        }

        .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand {
            color: white !important;
        }

        * {
            color: white;
        }

        button {
            background: grey !important;
        } 

    </style>

</head>
<body>

    <% include partials/menu.ejs %>

    <div class="container">

        <div>

            <div class="text-center text-white bg-dark">

                <h1>Create A New Post</h1>

            </div>

            <div class="panel-body" id="all">

                <% if (message) { %>

                <div class="alert alert-success" role="alert">

                    <%= message %>

                </div>

                <% } %> 

                <% if(logedIn == true){%>

                <form method="POST" action="">

                    <div class="form-group col-xs-12 col-sm-6 col-sm-offset-3">

                        <label for="exampleInputName">Title</label>

                        <input type="text" class="form-control" id="exampleInputName" aria-describedby="heroName" placeholder="Enter Title of Post" name="name">

                        <!-- <small id=heroName" class="form-text text-muted">We'll never share your email with anyone else.</small> -->

                    </div>

                    <div class="form-group col-xs-12 col-sm-6 col-sm-offset-3">

                        <label for="exampleInputURL">Add Image</label>

                        <input type="text" class="form-control" id="exampleInputURL" placeholder="Image URL goes here" name="image_url">

                    </div>

                    <div class="form-group col-xs-12 col-sm-6 col-sm-offset-3">

                            <label for="exampleInputDescription">Description</label>

                            <textarea id="summernote" name="editordata"></textarea>

                        </div>
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

                        <button type="submit" class="btn btn-dark btn-block">Create Post</button>

                    </div>

                </form>

            </div>

            <%}else{%>

            <p class="logged_out" style="color: grey !important;"><a href="/sign_in" style="color: white !important;">Log In</a> to create a post.</p>

            <%} %>

            <div class="text-center">

                <p>All rights reserved 2018 | ShantonWaldien.</p>

            </div>

        </div>

    </div>

<script>
// $('#summernote').summernote({
//   height: 300,                 // set editor height
//   minHeight: null,             // set minimum height of editor
//   maxHeight: null,             // set maximum height of editor
//   focus: true                  // set focus to editable area after initializing summernote
// });
var markupStr = $('#summernote').summernote('code');
</script>
</body>
</html>