<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home | Midnight Club</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <style>
        body { padding-top:15px; background-color: #ccc;}
        img { width: 100%;}
        
    </style>

    <% include partials/head %> 

</head>
<body>

    <% include partials/menu %>

    <div class="container-fluid bg-3 text-center">  

        <h3><%= page %></h3><br>

        <div class="row">

            <div class="col-sm-4">

                <img src="https://famous-mathematicians.com/images/albert-einstein.jpg" alt="">

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            
            </div>
            <div class="col-sm-4"> 

                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/GodfreyKneller-IsaacNewton-1689.jpg/220px-GodfreyKneller-IsaacNewton-1689.jpg" alt="" height="500px" width="800px">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            </div>
            <div class="col-sm-4"> 

                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSF5cUPyfgDMHqwZmHw5JjVK5GS6lJFJS0Y6W_Q_ypJdXjHETjv" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            </div>

        </div>

    </div> 

<!-- <div class="container">
    <div class="panel panel-danger">
      <div class="panel panel-heading text-center">
          <h1>It's Hero Time.</h1>
      </div>
      <div class="panel-body" id="all">

          <a href="/create ">
              <div class="col-xs-6 col-md-2">
                  <div class="panel panel-default">
                      <div class="panel-body">
                          <img src="https://png.icons8.com/ios/1600/add.png">
                      </div>
                      <div class="panel-footer">
                          New pokemon
                      </div>
                  </div>
              </div> 
          </a>

      </div>

      <div class="container">
            <div class="panel panel-danger">
                <div class="panel panel-heading text-center">
                    <h3 class="text-center"></h3>
                </div>
                <div class="panel-body" id="all">
    
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                            <img src="">
                        </div>
                        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                            <br>
                            <a href="/update" class="btn btn-block btn-primary">Update</a>
                            <br>
                            <a href="/delete" class="btn btn-block btn-danger">Delete</a>
                        </div>
                    </div>  
    
                </div>
                <div class="panel-footer text-center">
                    <p>All rights reserved 2018 | Nate.</p>
                </div>
            </div>
        </div>
      <div class="panel-footer text-center">
          <p>All rights reserved 2018 | Nate.</p>
      </div>
  </div>
</div> -->

<!-- <script src="js/ejs.min.js"></script> -->
<!-- <script>

  //the url we are making a request to
  var url = "http://localhost:8000/pokemon";

  $.ajax({
      url: url,
      method: 'get',
      success: function(data){
          //do something when call is successful
          // console.log(data);
          let pokemon = data;
          
          // With jQuery:
        //   $('#all').html(html);
          // Vanilla JS:
          var html= document.getElementById('all').innerHTML;
      }, 
      error: function(error){
          console.log(error);
      }
  });

</script>

<script>

  //targeting my container
  var box = document.getElementById('all');

  //the url we are making a request to
  var url = "http://localhost:8000/pokemon";

  $.ajax({
      url: url,
      method: 'get',
      success: function(data){
        //   do something when call is successful
          console.log(data);

          $.each(data, function(index, value){

              var container = document.createElement('div');
              container.className = 'col-xs-6 col-md-2';

              var panel = document.createElement('div');
              panel.className = 'panel panel-default';

              var body = document.createElement('div');
              body.className = "panel-body";

              var footer = document.createElement('div');
              footer.className = 'panel-footer';

              var image = document.createElement('IMG');
              image.setAttribute('src', value.image);

              var name = document.createTextNode(value.name);

              footer.appendChild(name);
              body.appendChild(image);
              panel.appendChild(body);
              panel.appendChild(footer);
              container.appendChild(panel);

              box.appendChild(container);
              
          });

      }, 
      error: function(error){
          console.log(error);
      }
  });
</script> -->

</body>
<% include partials/script %>
</html>