<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home | Midnight Club</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Staatliches|Ubuntu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Denk+One|Roboto" rel="stylesheet">

    <style>

        .landing {
            height: 60vh;
            background-image: url('https://images.pexels.com/photos/801863/pexels-photo-801863.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
            background-size: cover;
            background-attachment: fixed;
            background-color: grey !important;
            background-blend-mode: multiply !important;
            background-position-y: -200px !important;
        }

        body { 
            padding: 0 !important; 
            background-color: red;
            font-family: 'Roboto', sans-serif !important; 
        }

        img {
            width: 100%;
        }

        h1 {
            color: White !important;
            letter-spacing: 7px !important;
            font-size: 50px !important;
        }

        h2 {
            color: white !important;
            font-size: 30px !important;
            letter-spacing: 7px !important;
        }

        .container-fluid {
            padding: 200px 0 !important;
        }

        img:hover {
            transform: scale(1.1);
            transition: all 2s;
        }
        

        .col-sm-4 {
            overflow: hidden;
        }

        .navbar {
            background: black !important;
        }

        .navbar-nav  li a:hover {
            color: white !important;
        }

        .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand {
            color: white !important;
        }

        
    </style>

    <% include partials/head %> 

</head>
<body>

    <% include partials/menu %>

    <!-- Landing Page  -->

    <div class="container-fluid bg-3 text-center landing">  

        <h1 class="welcome">Welcome</h1>

        <h2>To</h2>

        <h1 class="mid" style="letter-spacing: 10px !important;font-family: 'Denk One', sans-serif !important;">Midnight Club</h1>

    </div> 

    <!-- Featured Posts -->

    <h1 style="color: black !important; text-align: center !important;font-size: 30px !important;letter-spacing: 0px !important;">Featured Posts</h1>
    

    <div class="col-sm-4 col-centered" style="padding: 10px;">

        <img src="https://images.pexels.com/photos/1190298/pexels-photo-1190298.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        
    </div>

    <div class="col-sm-4 col-centered" style="padding: 10px;">

        <img src="https://images.pexels.com/photos/1449795/pexels-photo-1449795.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            
    </div>

    <div class="col-sm-4 col-centered" style="padding: 10px;">

        <img src="https://images.pexels.com/photos/1047940/pexels-photo-1047940.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
            
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                
    </div>


    <!-- Footer -->

    <div class="text-center" style="color: #1abc9c !important;">

        <p>All rights reserved 2018 | Shanton.</p>

    </div>

</body>
<% include partials/script %>
</html>