<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/css/sign_register.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Denk+One|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <% include partials/head.ejs %>

    <style>

      body{
        font-family: 'Roboto', sans-serif !important;
        text-align: center;
        padding: 100px 0;
      }

      .navbar {
        background: black !important;
        border: none !important;
      }

      .navbar-nav  li a:hover {
        color: white !important;
      }

      .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand {
        color: white !important;
      }
      
      * {
        color: white;
      }

    </style>

  </head>
  <body>

    <% include partials/menu.ejs %>
      
    <main>

      <form  method="post" class="form-group">

        <h2>Sign In Here!</h2>

        <p><%= signError %></p>

        <h3>Username or Email</h3>

        <input type="text" class="form-control" name="username" value="" required>

        <h3>Password</h3>

        <input type="password" class="form-control" name="password" value="" required>

        <button type="submit" name="submit" class="btn" style="color: black; margin: 10px 0;">Sign In</button>

        <%if (logedIn == false){%>

          <p>Not Registered Yet?</p>

          <a href="/register"><p>Become a Member!</p></a>

        <%}%>

        <a href="/"><p>Home</p></a>

      </form>

    </main>

  </body>
</html>
