<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hero App | New</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- include libraries(jQuery, bootstrap) -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> 
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script> 
        <!-- include summernote css/js -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Denk+One|Roboto" rel="stylesheet">

    <style>

        body { 
            padding-top:15px; 
            background-color: #222222 !important;
        }

        img { 
            width: 100%;
        }

        .navbar {
            background: black !important;
            border: none !important;
        }

        .navbar-nav  li a:hover {
            color: white !important;
        }

        .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand {
            color: white !important;
        }

        .text-center {
            padding: 70px 0 0 0;
        }

        label {
            color: white !important;
        }

        button {
            background: grey !important;
        }

        * {
            color: white;
        }

    </style>
</head>
<body>

    <% include partials/menu.ejs %>

    <div class="container">

        <div class="">

            <div class="text-center">

                <h1>Post Update</h1>

            </div>

            <div class="panel-body" id="all">

                <% if (message) { %>

                <div class="alert alert-success" role="alert">
                    
                    <%= message %>

                </div>

                <% } %> 
                
                <form method="POST" action="">

                    <div class="form-group col-xs-12 col-sm-6 col-sm-offset-3">

                        <label for="exampleInputName">Title</label>

                        <input type="text" class="form-control" id="exampleInputName" aria-describedby="heroName" placeholder="Enter Title" name="name" value="<%= poke.name %>">

                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-sm-offset-3">

                        <label for="exampleInputURL">Image URL</label>

                        <input type="text" class="form-control" id="exampleInputURL" placeholder="URL to image" name="image_url" value="<%= poke.image %>">

                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-sm-offset-3">

                            <label for="exampleInputDescription">Description</label>

                            <textarea id="summernote" name="editordata" aria-valuetext="<%= poke.description %>"></textarea>

                        </div>
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                        <button type="submit" class="btn btn-dark btn-block" style="border: 1px solid grey; color: white;">Update Post</button>
                    </div>

                </form>

            </div>
            <div class="text-center">

                <p>All rights reserved 2018 | ShantonWaldien.</p>

            </div>
        </div>
    </div>
    <script>
            $('#summernote').summernote({
              height: 300,                 // set editor height
              minHeight: null,             // set minimum height of editor
              maxHeight: null,             // set maximum height of editor
              focus: true ,
                               // set focus to editable area after initializing summernote
            });
            </script>

</body>
</html>